<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="3.9.1" targetFramework="net481" />
  <package id="LibVLCSharp.WinForms" version="3.9.1" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SharpCompress" version="0.38.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net481" />
  <package id="System.Memory" version="4.6.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="Xabe.FFmpeg" version="5.2.6" targetFramework="net472" />
  <package id="ZstdSharp.Port" version="0.8.1" targetFramework="net481" />
</packages>